* {
    font-family: "Orbitron";
}

body {
    margin: 0;
    padding: 0;
}


/* Tela da Index */
#index_banner {
    background-image: url("../assets/imgs/bg-img.jpg");
    background-size: cover;
    width: 100%;
    height: 730px;
}

#card {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 5px #F122D0 solid;
    border-right: 5px #F122D0 solid;
    width: 40%;
    height: 40%;
    border-radius: 40px;
    /* color: #4D0D57; */
}

#card_play span {
    font-size: 45px;
}

#card_play button {
    margin: 0;
    height: 20%;
    font-size: 20px;
}

#card_play button:hover {
    background-color: #F122D0;
    color: white;
} 

/* Tela de Cadastro e Login */
.header {
    width: 100%;
    border-bottom: 4px solid #F122D0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100%;
    height: 750px;
    background-image: url('../assets/imgs/bg-img.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login {
    height: 590px;
}

h1 {
    color: white;
}

.container {
    background-color: rgba(192, 192, 192, 0.7);
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 0;
}

input {
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

select {
    height: 35px;
    border-radius: 5px;
    border-style: none;
}

button {
    width: 30%;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
}

#bt_cadastrar {
    height: 8%;
}

#bt_login {
    height: 25%;
}

.conector {
    font-size: 12px;
    margin: auto;
    margin-top: 10px;
}

.footer {
    background-color: white;
    height: 60px;
}


/* Menu Lateral */
#conta {
    display: flex;
    width: 100%;
    height: 700px;
    /* background-color: #F0A6EB; */
}

.navbar_conta {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    border-right: solid;
    border-width: 3px;
    background-color: #f2c9ef;
}

.navbar_conta img {
    height: 20px;
    width: 20px;
}

#secao_msg p {
    font-size: 20px;
    margin: 0;
    height: 30%;
}

#welcome_msg {
    display: block;
    text-align: justify;
}

#secao_msg img {
    height: 60px;
    width: 60px;
}

#secao_botao {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#secao_botao button {
    margin: 0;
    margin-left: 5px;
    height: 45%;
    width: 40%;
    background-color: #000;
    color: #f2c9ef;
}

#secao_botao button:hover {
    font-weight: bolder;
    height: 50%;
    width: 45%;
}

.img_bt {
    height: 20%;
    display: flex;
    align-items: center;
}

#secao_sair {
    display: flex;
    align-items: end;
}

#secao_sair a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

#secao_sair a:hover {
    font-weight: bolder;
    text-decoration: underline;
}


/* Tela da Dashboard */
.conteudo {
    width: 80%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#dash {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dash h1 {
    color: black;
}

#secao_kpis {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kpi {
    /* background-color: #c2c1c2; */
    width: 20%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    border-radius: 5px;
    border: solid 2px #000;
}

.kpi p {
    margin: 0;
    font-size: 15px;
    color: rgb(54, 54, 54);
}

.kpi span {
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
}

#secao_graficos {
    /* background-color: #00935d; */
    width: 100%;
    height: 70%;
    display: flex;
}

#secao_graficos p {
    margin: 0;
}

#primeira_secao {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 30px;
}

#barra_plataforma {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    /* border: solid black; */
    /* background-color: #F122D0; */
}

#barra_idade {
    height: 50%;
    width: 100%;
    /* background-color: #C2C1C2; */
}

#segunda_secao {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}

#barra_tipoJogo {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}

#pizza_genero {
    height: 50%;
    margin-top: 22px;
    /* background-color: #38023B; */
}

#pie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}