* {
    font-family: "Orbitron";
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    border-bottom: 4px solid #D846CA;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.banner {
    width: 100%;
    height: 700px;
    background-image: url('../assets/imgs/background_img.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
}

.container {
    background-color: rgba(192, 192, 192, 0.7);
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

p {
    margin-bottom: 0;
}

input {
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

select {
    height: 35px;
    border-radius: 5px;
    border-style: none;
}

button {
    width: 30%;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    /* box-shadow: 5px 5px 10px #3C2263; */
}

#bt_cadastrar {
    height: 8%;
}

#bt_login {
    height: 25%;
}

.conector {
    font-size: 12px;
    margin: auto;
    margin-top: 10px;
}

.footer {
    background-color: white;
    height: 70px;
}