* {
    font-family: "Orbitron";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}


/* TELA INDEX */
#index_banner {
    background-image: url("../assets/imgs/bg-img.jpg");
    background-size: cover;
    width: 100%;
    height: 730px;
}

#card {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_play {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 5px #F122D0 solid;
    border-right: 5px #F122D0 solid;
    width: 40%;
    height: 40%;
    border-radius: 40px;
    /* color: #4D0D57; */
}

#card_play span {
    font-size: 45px;
    font-weight: bolder;
}

#card_play button {
    margin: 0;
    height: 20%;
    font-size: 20px;
    font-weight: bolder;
}

#card_play button:hover {
    background-color: #F122D0;
    color: white;
}


/* HEADER */
.header {
    width: 100%;
    border-bottom: 4px solid #F122D0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}


/* TELA HOME */
#background_home {
    background-image: url("../assets/imgs/bg_home.webp");
    width: 100%;
    height: 630px;
    background-size: cover;
    background-position: center;
    border-bottom: 4px solid #F122D0;
}

#background_home div {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.6) blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#background_home span {
    color: white;
    font-size: 60px;
    font-weight: bolder;
}

/* Sobre */
#secao_sobre {
    /* background-color: aqua; */
    display: flex;
    height: 450px;
    width: 100%;
}

#texto_sobre {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

#texto_sobre p {
    text-align: center;
}

#img_sobre {
    background-image: url('../assets/imgs/img_sobre.png');
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 60px;
}

#img_sobre div {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.6) blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_sobre span {
    color: white;
    font-size: 60px;
    text-align: center;
}

#img_sobre .dados {
    color: white;
    font-size: 35px;
    display: block;
    width: 50%;
    text-align: center;
}

/* Plataforma */
#secao_plataforma {
    /* background-color: #F122D0; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgs_plataformas {
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
}

.imgs {
    background-color: black;
    width: 20%;
    height: 90%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.imgs:hover {
    transform: scale(1.05);
}

#img_console {
    background-image: url('../assets/imgs/img_console.avif');
}

#img_computador {
    background-image: url('../assets/imgs/img_notebook.webp');
}

#img_celular {
    background-image: url('../assets/imgs/img_celular.avif');
}

/* E-sports */
#secao_esports {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
}

#banner_esports {
    background-image: url('../assets/imgs/img_esports.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30%;
}

#banner_box {
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.7) blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner_box h1 {
    font-size: 60px;
    color: white;
}

.jogos_esports {
    width: 100%;
    height: 33%;
    display: flex;
}

.img_esports {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#cs {
    background-image: url('../assets/imgs/img_cs.jpg');
}

#r6 {
    background-image: url('../assets/imgs/img_siege.avif');
}

.texto_esports {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.texto_esports p {
    text-align: justify;
    width: 80%;
}

/* Curiosidades */
#secao_curiosidade {
    display: flex;
    width: 100%;
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#boxes_curiosidades {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
}

#primeira_curiosidade {
    width: 40%;
    height: 100%;
    background-image: url('../assets/imgs/img_ps2.jpg');
    background-size: cover;
    background-position: center;
}

#segunda_curiosidade {
    width: 40%;
    height: 100%;
    background-image: url('../assets/imgs/img_spotify.webp');
    background-size: cover;
    background-position: center;
}

.box_curiosidades {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: brightness(0.6) blur(2px);
    color: white;
}

.curiosidade_titulo {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
}

.curiosidade_texto {
    font-size: 20px;
    margin: 20px;
    padding-top: 40px;
    text-align: center;
}


/* TELA CADASTRO/LOGIN */
.banner {
    width: 100%;
    height: 750px;
    background-image: url('../assets/imgs/bg-img.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login {
    height: 680px;
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #F122D0 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.titulo_login {
    color: white;
}

.container {
    background-color: rgba(192, 192, 192, 0.7);
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 40px;
}

.container p {
    margin-bottom: 0;
}

input {
    height: 30px;
    border-radius: 5px;
    border-style: none;
}

select {
    height: 35px;
    border-radius: 5px;
    border-style: none;
}

button {
    width: 30%;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
    cursor: pointer;
}

#bt_cadastrar {
    height: 8%;
}

#bt_login {
    height: 25%;
}

.conector {
    font-size: 12px;
    margin: auto;
    margin-top: 10px;
}


/* FOOTER */
.footer {
    background-color: black;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

#conteudo_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#links_footer {
    display: flex;
    align-items: end;
    padding: 20px;
}

.texto_footer {
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.img_footer {
    width: 40px;
    height: 40px;
    margin: 10px;
}


/* MENU LATERAL */
#conta {
    display: flex;
    width: 100%;
    height: 700px;
    /* background-color: #F0A6EB; */
}

.navbar_conta {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    border-right: solid;
    border-width: 3px;
    background-color: #f2c9ef;
}

.navbar_conta img {
    height: 20px;
    width: 20px;
}

#secao_msg p {
    font-size: 20px;
    margin: 0;
    height: 30%;
}

#welcome_msg {
    display: block;
    text-align: justify;
}

#secao_msg img {
    height: 60px;
    width: 60px;
}

#secao_botao {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#secao_botao button {
    margin: 0;
    margin-left: 5px;
    height: 45%;
    width: 40%;
    background-color: #000;
    color: #f2c9ef;
}

#secao_botao button:hover {
    font-weight: bolder;
    height: 50%;
    width: 45%;
}

.img_bt {
    height: 20%;
    display: flex;
    align-items: center;
}

#secao_sair {
    display: flex;
    align-items: end;
}

#secao_sair a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

#secao_sair a:hover {
    font-weight: bolder;
    text-decoration: underline;
}


/* TELA DASHBOARD */
.conteudo {
    width: 80%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#dash {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dash h1 {
    color: black;
}

#secao_kpis {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kpi {
    /* background-color: #c2c1c2; */
    width: 20%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 3px;
    border-radius: 5px;
    border: solid 2px #000;
}

.kpi p {
    margin: 0;
    font-size: 15px;
    color: rgb(54, 54, 54);
}

.kpi span {
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
}

#secao_graficos {
    /* background-color: #00935d; */
    width: 100%;
    height: 70%;
    display: flex;
}

#secao_graficos p {
    margin: 0;
}

#primeira_secao {
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-top: 30px;
}

#barra_plataforma {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    /* border: solid black; */
    /* background-color: #F122D0; */
}

#barra_idade {
    height: 50%;
    width: 100%;
    /* background-color: #C2C1C2; */
}

#segunda_secao {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}

#barra_tipoJogo {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
}

#pizza_genero {
    height: 50%;
    margin-top: 22px;
    /* background-color: #38023B; */
}

#pie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


/* TELA QUIZ */
#quiz {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#quiz_boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.quiz_box {
    background-color: #F122D0;
    width: 25%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.quiz_box a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.quiz_box button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    margin: 0;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

#quiz_geral {
    background-image: url('../assets/imgs/quiz_geral.avif');
    background-position: center;
    background-size: cover;
}


#quiz_geral:hover {
    transform: scale(1.05);
}

#quiz_cs {
    background-image: url('../assets/imgs/quiz_cs.jfif');
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

#quiz_r6 {
    background-image: url('../assets/imgs/quiz_r6.png');
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}


/* QUIZ GERAL */

.quiz_banner {
    background-image: url("../assets/imgs/bg-img.jpg");
    background-size: cover;
    width: 100%;
    height: 730px;
}

#jogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 5px #F122D0 solid;
    border-right: 5px #F122D0 solid;
    width: 40%;
    height: 60%;
    border-radius: 40px;
}

#infoQuestao span {
    font-size: 15px;
}

#perguntaDaQuestaoAtual {
    width: 100%;
    display: flex;
    justify-content: start;
}

#perguntaDaQuestaoAtual span {
    font-size: 25px;
}

#infoAlternativas {
    width: 100%;
    display: flex;
    justify-content: start;
}

#infoAlternativas span {
    font-size: 15px;
}

#opcoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#opcoes span {
    font-size: 20px;
}

#botoes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botoes button {
    font-size: 15px;
    font-weight: bolder;
    height: 75%;
    width: 30%;
}

#botoes button:hover {
    transform: scale(1.05);
}

#msgFinal {
    width: 100%;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}